* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: inherit;
    color: white;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 1%;
    box-sizing: border-box;
    background-color: #2b2b2b;
    align-items: center;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
}

nav {
    height: 100%;
    background-color: #212121;
    border: 1px solid #333333;
    box-shadow: #4a4a4a 0px 2px 6px;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    height: 100%;
}

nav a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.5s ease 0s;
}

nav a:hover {
    background-color: #323232;
    transform: scale(1.005);
    cursor: pointer;
}

nav input {
    background-color: #212121;
    height: 100%;
    outline: none;
    border-right: 4px solid #333333;
    border-left: 4px solid #333333;
    border-bottom: none;
    border-top: none;
    font-size: 16px;
}

.active {
    background-color: #404040;
}

.active:hover {
    background-color: #454545;
}

#games {
    padding-top: 70px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}

.box {
    align-items: center;
    font-size: 12px;
    border: 1px solid #333333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: #4a4a4a 0px 2px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h2 {
    margin-bottom: 0;
}

.box h3 {
    margin-top: 0;
}

.box a {
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    background-color: #919191;
    color: white;
    margin-bottom: 0;
    transition: background-color 0.3s, transform 0.3s;
}

.box a:hover {
    cursor: pointer;
    background-color: #828282;
}

canvas {
    position: fixed;
    top: 41px;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
    margin: 0;
    background-color: #303030;
}

@media screen and (max-width: 575px) {
    #games {
        grid-template-columns: 1fr;
    }

    canvas {
        height: 50%;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    #games {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
    #games {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1440px) {
    #games {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}