@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: inherit;
    color: white;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
    background-color: #07091c;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

nav {
    height: 100%;
    background-color: #101229;
    border: 1px solid #141838;
    box-shadow: 0 2px 6px #232857;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav input {
    background-color: #101229;
    border: none;
    height: 100%;
    outline: none;
    border-right: 1px solid #141838;
    border-left: 1px solid #141838;
    font-size: 16px;
}

nav li {
    height: 100%;
}

nav a {
    width: 80px;
    height: 100%;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.5s;
}

nav a:hover {
    background-color: #1b2052;
    transform: scale(1.01);
}
.active {
    background-color: #9933FF;
}
.active:hover {
    background-color: #8026CC;
}

#games {
    padding-top: 70px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}

.body {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.contact {
    font-size: 16px;
    border: 1px solid #141838;
    padding: 20px;
    box-shadow: 0px 4px 4px #232857;
}

.box {
    align-items: center;
    font-size: 12px;
    border: 1px solid #141838;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #232857;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h2 {
    margin-bottom: 0;
}

.box h3 {
    margin-top: 0;
}

.box a {
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    background-color: #9933FF;
    color: white;
    margin-bottom: 0;
    transition: background-color 0.3s, transform 0.3s;
}

.box a:hover {
    cursor: pointer;
    background-color: #8026CC;
}

canvas {
    position: fixed;
    top: 41px;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
    margin: 0;
    background-color: #303030;
}

@media screen and (max-width: 575px) {
    #games {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    #games {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
    #games {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1440px) {
    #games {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}