@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    box-sizing: inherit;
    color: white;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
    background-color: #07091c;
}

/*Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

nav {
    height: 100%;
    background-color: #101229;
    border: #11195e solid 1px;
    box-shadow: 0 2px 6px #232857;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    height: 100%;
}

nav a {
    height: 100%;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.5s;
}

nav a:hover {
    background-color: #1b2052;
    transform: scale(1.01);
}

input {
    background-color: #0c1c0b;
    border: none;
    height: 100%;
    outline: none;
    border-right: #20C20E 1px solid;
    border-left: #20C20E 1px solid;
    font-size: 16px;
}
#games {
    padding-top: 3%;
}
canvas {
    position: fixed;
    top: 41px;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
    margin: 0;
    background-color: #303030;
}